go_import_path: github.com/goava/di
language: go
sudo: false

matrix:
  include:
    - go: "1.13.x"
    - go: "1.14.x"
    - go: "1.15.x"
  fast_finish: true

env:
  global:
    - GO111MODULE=on

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)

